body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;
}
.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.searchBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 40px;
  padding: 10px;
  height: 90vh;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}


.searchTxt{
  border:none;
  outline: none;
  padding: 0;
  color:#ffffff;
  font-size: 16px;
  transition: 0.5s;
  padding-left: 25px;
  width:60%;
  background-color: #2f3640;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 4px 8px #070509;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

}
.searchBtn{
  color: #ffffff;
  width: 20%;
  height: 40px;
  background-color: #e84118;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border:none;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0 4px 8px #070509;
}

.movies{
  display:flex;
  flex-wrap: wrap;
}

.containerSearch{
  display:flex;
    width:100%;
    height:90vh;
    justify-content: center;
    align-items: center;
    animation-name: tamanho;
    animation-duration: 1s;
}
@keyframes tamanho {
  to{height:20vh}
  from { height:100vh}
}